.map-grid {
  display: grid;
  grid-template-columns: 25% 70%;
  column-gap: 5%;
  align-items: start;
}

.map-grid .filter {
  grid-column: 1;
}

.map-grid .map {
  grid-column: 2;
}

#map {
  width: 100%;
  height: 100%;
}
