<!DOCTYPE html>
	<html>
		<head>
			<title>Pathways to Preservation</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/mission">Our Mission</a></li>
	        		<li><a href="/explore">Explore</a></li>
	        		<li class="has-dropdown">
					<a href="/stories">Regional  Stories ▾</a>
					<ul class="dropdown">
						<li><a href="/stories/west">West</li>
						<li><a href="/stories/southwest">Southwest</li>
						<li><a href="/stories/midwest">Midwest</li>
						<li><a href="/stories/southeast">Southeast</li>
						<li><a href="/stories/northeast">Northeast</li>
					</ul>
				</li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
        <ul>
	        		<li><a href="https://github.com/historybuffs">GitHub</a></li>
				      <li><a href="https://irma.nps.gov/DataStore/Reference/Profile/2305746">Data Sources</li>
              <li><a href="https://www.nps.gov/index.htm">Visit the National Park Service</a></li>
              <li><a href="https://www.nps.gov/getinvolved/donate.htm">Get Involved</li>
				</ul>
			</footer>
		</body>
	</html>
